<!doctype html>
<html>
  <head>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SpyX</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.1/css/bulma.min.css">

    <script src="https://unpkg.com/vue@2.4.3/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/clipboard@1/dist/clipboard.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.1.4/js.cookie.js"></script>
    <script>new Clipboard('button');</script>
  </head>
  <body>

    

    <div id="app">

      <div v-if="!current_room">
        <div v-if="!name">
          <span>Enter Name: </span>
          <input v-model="new_name" type="text" placeholder="Enter Name">
          <button v-on:click="setName(new_name)">Set Name</button>
        </div>
        <div v-else>

          <p>Name = {{name}}</p>

          <!-- Join Game -->
          <input v-model="room_code" type="text" placeholder="room code">
          <button v-on:click="joinRoom(room_code, name)">Join Game</button>

          <hr>
          <!-- Create Game -->
          <h4>Settings</h4>

          <span>Time(mintues): </span>
          <select v-model="settings.time">
            <option>5</option>
            <option>8</option>
            <option>12</option>
          </select>
          <br>
          
          <span>Location Pack:</span>
          <select v-model="settings.pack">
            <option v-for="pack in packs"><span>{{pack}}</span></option>
          </select>
          <br>

          <span>Number of Spies:</span>
          <select v-model="settings.spies">
            <option>1</option>
            <option>2</option>
          </select>
          <br>
          <button v-on:click="makeRoom()">Create Lobby</button>
        </div>
      </div>
      <div v-else> <!-- room lobby -->
        <div v-if="game.running">
          <h3>The game is running</h3>
          {{ game }}


        </div>
        <div v-else>
          <span>ROOM: <b id="room_num" :value="current_room">{{current_room}}</b></span>
          <!-- Copy -->
          <button class="btn" data-clipboard-target="#room_num">
              Copy Code
          </button>
          <ul>
            <li v-for="player in player_list">{{player.nickname}}({{player.playerid}})</li>
          </ul>
          <button v-on:click="startGame()">Start Game</button>
        </div>
      </div>

      <div>
        <h3>Feed</h3>
        {{ feed }}
      </div>

    </div>

    <!-- Vue instance / Socket io  client code -->
    <script src="client.js"></script>

  </body>
</html>